/*
=============== 
font
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/*
=============== 
variables
===============
*/

:root {
  /* colors */
  --black: #222;
  --white: #fff;
  /* primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* secondary */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* spacing */
  --max-width: 1200px;
  --section-spacing: 5rem 0;
  --gap: 5rem;

  /* radius */
  --main-radius: 1rem;

  /* shadows */
  --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
  --btn-shadow: 0.1rem 0.5rem 1rem hsl(245, 75%, 81%);

  /* transitions */
  --main-transition: all 0.3s ease-in-out;

  /* font sizes */
  --xxl: 4.5rem;
  --xl: 4rem;
  --lg: 3.5rem;
  --md: 3rem;
  --sm: 2.5rem;
  --xs: 2rem;
  --xxs: 1.6rem;
}

/*
=============== 
resets
===============
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--pale-blue);
  position: relative;
  display: grid;
  place-content: center;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

/*
=============== 
global classes
===============
*/

.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  z-index: 5;
  display: grid;
  place-content: center;
  padding: var(--section-spacing);
}

.heading-styles {
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

.text-styles {
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

/*
=============== 
bg pattern
===============
*/

.bg-pattern {
  position: absolute;
  top: 0;
  pointer-events: none;
}

/*
=============== 
order summary
===============
*/

.order {
  background-color: var(--white);
  text-align: center;
  width: 600px;
  border-radius: var(--main-radius);
  box-shadow: var(--main-shadow);
}

.order__illustration {
  pointer-events: none;
  border-top-left-radius: var(--main-radius);
  border-top-right-radius: var(--main-radius);
}

.order__body {
  padding: 3rem;
}

.order__title {
  font-size: 2.8rem;
}

.order__lead {
  font-size: 1.6rem;
  color: var(--desaturated-blue);
  padding: 2rem 0;
}

.order__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: var(--very-pale-blue);
  padding: 2rem;
  border-radius: var(--main-radius);
  margin-bottom: 2rem;
}

.order__plan > div {
  display: flex;
  align-items: center;
}

.order__icon {
  margin-right: 2rem;
}

.order__plan-type {
  font-size: 1.6rem;
}

.order__price {
  font-size: 1.6rem;
  color: var(--desaturated-blue);
}

.order__change-plan {
  color: var(--bright-blue);
  font-size: 1.4rem;
  transition: var(--main-transition);
}

.order__change-plan:hover,
.order__change-plan:focus {
  color: hsl(245, 75%, 68%);
  text-decoration: underline;
}

.order__cancel {
  color: var(--desaturated-blue);
  font-size: 1.5rem;
  transition: var(--main-transition);
}

.order__cancel:hover,
.order__cancel:focus {
  color: var(--black);
}

/*
=============== 
button
===============
*/

.btn {
  padding: 2rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.btn--primary {
  background-color: var(--bright-blue);
  color: var(--white);
  border-radius: var(--main-radius);
  padding: 2rem;
  box-shadow: var(--btn-shadow);
  transition: var(--main-transition);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: hsl(245, 75%, 68%);
}

/*
=============== 
tag
===============
*/

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 5rem;
}

.tag__heading {
  font-size: var(--xxs);
  color: var(--black);
}

.tag__link {
  color: var(--bright-blue);
  outline: 0;
}

.tag__link:hover,
.tag__link:focus {
  text-decoration: underline;
}

.tag__logo {
  width: 5rem;
}

/*
=============== 
media queries
===============
*/

@media (max-width: 610px) {
  .order {
    width: 100%;
  }
}
